
    <!-- <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img src="assets/brand/latecnologica.svg" height="40" class="p-mr-2">
        </ng-template>
        <ng-template pTemplate="end">
            <button type="button" pButton label="Iniciar Sesion" icon="pi pi-seach" style="margin-left:.25em"></button>
        </ng-template>
    </p-menubar> -->

<div class="p-d-flex">
    <div class="p-mr-2">
        <img src="assets/brand/latecnologica.svg" height="50" class="p-mr-2">
    </div>
    <div class="p-mr-2 la">La</div>
    <div class="p-mr-2 titulo">Tecnológica</div>
</div>